.contenedor 
{
    display: flex;
    flex-wrap:wrap;
    /*flex-direction: row-reverse;*/
}

.elemento 
{
    width: 100px;
    height: 100px;
    background-color: rgb(13, 110, 110);
    color: white;
    margin: 10px;
}