#passwordStrengthIndicator 
{
    width: 100px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}

.weak {
    color: #ffff;
    background-color: red;
    border-color: #000000;
}

.medium {
    color: #ffff;
    background-color: orange;
    border-color: #000000;
}

.strong {
    color: #ffff;
    background-color: green;
    border-color: #000000;
}

