#passwordStrengthIndicator 
{
    width: 100px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}

.weak {
    background-color: red;
}

.medium {
    background-color: orange;
}

.strong {
    background-color: green;
}