.elemento {
    background-color: #dadadad9;
}
.elemento2 {
    background-color: #b3b3b3e1;;
    }

.titulo {
    height: 100%;
    width: 100%;
    background-color: #3498db7e;
    color: white;
    text-align:center;
    padding: 10px;
}

table {
    height: 100%;
    width: 100%;
}

.imagenUCR {
        background-color: #0000007e;
}

.contenedorImagen {
    position: relative;
}

.contenedorImagenPalabras {
    position: absolute;
    top: 2%;
    left: 7%;
    right: 7%;
    bottom: 2%;
}

.contornoImagen {
    opacity: 0.9;
    height: 110%;
    width: 110%;
}

.tituloUCR {
    height: 110%;
    width: 110%;
}

.tituloTEC {
    height: 100%;
    width: 100%;
}



.btn-tran {
    color: #000000;

    transition: color 1s,
}

.btn-tran:hover {
    color: #d0ff00;
    background-color: #000000;
    ;
}