.elemento {
    background-color: #e4e4e4;
    color: rgb(0, 0, 0);
}
.elemento2 {
        background-color: #e4e4e418;
        color: rgb(0, 0, 0);
    }

.titulo {
    height: 100%;
    width: 100%;
    background-color: #3498db;
    color: white;
    margin: 10px;
    text-align:center;
}