.elemento {
    background-color: #e4e4e4;
}
.elemento2 {
    background-color: #e4e4e418;;
    }

.titulo {
    height: 100%;
    width: 100%;
    background-color: #3498db7e;
    color: white;
    text-align:center;
}

