<div class="container">
    <h1 class="form-control">GUÍA TURÍSTICA</h1>
    <table class="table">
        <thead>
            <th>Cod. Pais</th>
            <th>Nombre de Pais</th>
            <th>Capital</th>
            <th>Moneda</th>
            <th>Video Ilustrativo</th>
        </thead>
        <tbody>
            <tr *ngFor="let pais of vectorPaises">
                <td>{{pais.idPais}}</td>
                <td>{{pais.nombrePais}}</td>
                <td>{{pais.capital}}</td>
                <td>{{pais.moneda}}</td>
                <td><p><a href={{pais.videoLink}}>Visita {{pais.nombrePais}}</a></p></td>
            </tr>
        </tbody>

    </table>
</div>
