<div class="container">
    <h1>Estos son los paises registrados en nuestra base de datos</h1>
    <table class="table">
        <thead>
            <th>Cod. Pais</th>
            <th>Nombre de Pais</th>
            <th>Capital</th>
            <th>Moneda</th>
        </thead>
        <tbody>
            <tr *ngFor="let pais of vectorPaises">
                <td>{{pais.idPais}}</td>
                <td>{{pais.nombrePais}}</td>
                <td>{{pais.capital}}</td>
                <td>{{pais.moneda}}</td>
            </tr>
        </tbody>

    </table>
</div>
