<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">VLA</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/General" class="nav-link" href="#">General</a>
          </li>
          <li class="nav-item">
            <a routerLink="/Directivas" class="nav-link" href="#">Directivas</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ConsumoApi" class="nav-link" href="#">Consumo API</a>
          </li>
          <li class="nav-item">
            <a routerLink="/FormularioUno" class="nav-link" href="#">Formulario 1</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet />