<p>acá inicia componente INFORMACION PERSONAL</p>

<div class="container">
    <h1>La información de la persona es:</h1>
    <h3>Nombre: {{nombrePersona}}</h3>
    <h3>Apellido: {{apellidoPersona}}</h3>
    <h3>Edad: {{edadPersona}}</h3>

    <h3>Nombre: {{nombrePersona}}</h3>
    <h3>Apellido: {{apellidoPersona}}</h3>
    <h3>Edad: {{edadPersona}}</h3>
    
    <h3>Nombre: {{nombrePersona}}</h3>
    <h3>Apellido: {{apellidoPersona}}</h3>
    <h3>Edad: {{edadPersona}}</h3>

</div>

<p>acá finaliza componente INFORMACION PERSONAL</p>