.contenedorImagen
{
    position: relative;
}

.contenedorImagenPalabras
{
    position: absolute; top: 50%; left: 10%;
}

.contornoImagen
{
    opacity: 0.8; /*transparencia de la imagen del 0 al 1*/
    width: 100%; 
    height: 100%;
}